@{
    ViewBag.Title = "Neil MacKenzie B. Tech, B. Ed, COPA dipl";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One infinite Loop<br />
    Cupertino, CA<br />
    <abbr title="Phone">P:</abbr>
    416.912.7122
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:nmackenz@gmail.com">nmackenz@gmail.com</a><br />
</address>