<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://comp3026midterm8498.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>comp3026midterm8498.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>comp3026Midterm8498</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$comp3026Midterm8498</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=n2ehawkaht.database.windows.net;Initial Catalog=midterm;Persist Security Info=True;User ID=mac-man6;Password=D0nkeyPunch;Application Name=EntityFramework" Name="Data Source=n2ehawkaht.database.windows.net;Initial Catalog=midterm;Persist Security Info=True;User ID=mac-man6;Password=D0nkeyPunch;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="comp3026Midterm.Models.DefaultConnection, comp3026Midterm" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.SchoolModel.csdl|res://*/Models.SchoolModel.ssdl|res://*/Models.SchoolModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=n2ehawkaht.database.windows.net;Initial Catalog=midterm;Persist Security Info=True;User ID=mac-man6;Password=D0nkeyPunch;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>